<div class="container">
  <div class="ui page grid">
    <div class="ui equal height row">
      <div class="main ui wide column">
      <h1 class="ui huge header">Condiciones legales</h1>

      <p>
        El usuario, mediante la marcación de la casilla, acepta expresamente y de forma libre e inequívoca que sus datos
        personales sean tratados por parte del
        prestador para realizar las siguientes finalidades:
      </p>
      <ul type="disc">
        <li>
          Remisión de comunicaciones comerciales publicitarias por e-mail, fax, SMS, MMS, comunidades sociales o
          cualesquier otro medio electrónico o físico,
          presente o futuro, que posibilite realizar comunicación comerciales. Dichas comunicaciones comerciales serán
          relacionadas sobre productos o servicios
          ofrecidos por el prestador, así como por parte de los colaboradores o partners con los que éste hubiera
          alcanzado algún acuerdo de promoción comercial
          entre sus clientes. En este caso, los terceros nunca tendrán acceso a los datos personales. En todo caso las
          comunicaciones comerciales serán
          realizadas por parte del prestador y serán de productos y servicios relacionados con el sector del prestador.
        </li>
      </ul>
      <ul type="disc">
        <li>
          Realizar estudios estadísticos.
        </li>
      </ul>
      <ul type="disc">
        <li>
          Tramitar encargos, solicitudes o cualquier tipo de petición que sea realizada por el usuario a través de
          cualquiera de las formas de contacto que se
          ponen a disposición del usuario en el sitio web de la compañía.
        </li>
      </ul>
      <ul type="disc">
        <li>
          Remitir el boletín de noticias de la página web.
        </li>
      </ul>
      <p>
        El prestador informa y garantiza expresamente a los usuarios que sus datos personales no serán cedidos en ningún
        caso a terceras compañías, y que siempre
        que fuera a realizarse algún tipo de cesión de datos personales, de forma previa, se solicitaría el
        consentimiento expreso, informado, e inequívoco por
        parte de los titulares.
      </p>

      <p>
        Todos los datos solicitados a través del sitio web son obligatorios, ya que son necesarios para la prestación de
        un servicio óptimo al usuario. En caso de
        que no sean facilitados todos los datos, el prestador no garantiza que la información y servicios facilitados
        sean completamente ajustados a sus
        necesidades.
      </p>

      <p>
        El prestador garantiza en todo caso al usuario el ejercicio de los derechos de acceso, rectificación,
        cancelación, información y oposición, en los términos
        dispuestos en la legislación vigente. Por ello, de conformidad con lo dispuesto en la Ley Orgánica 15/1999, de
        Protección de Datos de Carácter Personal
        (LOPD) podrá ejercer sus derechos remitiendo una solicitud expresa, junto a una copia de su DNI, a través de los
        siguientes medios:
      </p>

      <p>
        E-Mail: <a href="mailto:incyde@incydecamaras.es">incyde@incydecamaras.es</a>
      </p>

      <p>
        Del mismo modo, el usuario podrá darse de baja de cualquiera de los servicios de suscripción facilitados
        haciendo clic en el apartado darse de baja de
        todos los correos electrónicos remitidos por parte del prestador.
      </p>

      <p>
        Del mismo modo, el prestador ha adoptado todas las medidas técnicas y de organización necesarias para garantizar
        la seguridad e integridad de los datos de
        carácter personal que trate, así como para evitar su pérdida, alteración y/o acceso por parte de terceros no
        autorizados.
      </p>
      <ul type="disc">
        <li>
          Uso de cookies y del fichero de actividad
        </li>
      </ul>
      <p>
        El prestador por su propia cuenta o la de un tercero contratado para la prestación de servicios de medición,
        pueden utilizar cookies cuando un usuario
        navega por el sitio web. Las cookies son ficheros enviados al navegador por medio de un servidor web con la
        finalidad de registrar las actividades del
        usuario durante su tiempo de navegación.
      </p>

      <p>
        Las cookies utilizadas por el sitio web se asocian únicamente con un usuario anónimo y su ordenador, y no
        proporcionan por sí mismas los datos personales
        del usuario.
      </p>

      <p>
        Mediante el uso de las cookies resulta posible que el servidor donde se encuentra la web, reconozca el navegador
        web utilizado por el usuario con la
        finalidad de que la navegación sea más sencilla, permitiendo, por ejemplo, el acceso a los usuarios que se hayan
        registrado previamente, acceder a las
        áreas, servicios, promociones o concursos reservados exclusivamente a ellos sin tener que registrarse en cada
        visita. Se utilizan también para medir la
        audiencia y parámetros del tráfico, controlar el progreso y número de entradas.
      </p>

      <p>
        El usuario tiene la posibilidad de configurar su navegador para ser avisado de la recepción de cookies y para
        impedir su instalación en su equipo. Por
        favor, consulte las instrucciones y manuales de su navegador para ampliar esta información.
      </p>

      <p>
        Las cookies utilizadas en este sitio web tienen, en todo caso, carácter temporal con la única finalidad de hacer
        más eficaz su transmisión ulterior. En
        ningún caso se utilizarán las cookies para recoger información de carácter personal.
      </p>
      <ul type="disc">
        <li>
          Direcciones IP
        </li>
      </ul>
      <p>
        Los servidores del sitio web podrán detectar de manera automática la dirección IP y el nombre de dominio
        utilizados por el usuario. Una dirección IP es un
        número asignado automáticamente a un ordenador cuando ésta se conecta a Internet. Toda esta información es
        registrada en un fichero de actividad del
        servidor debidamente inscrito que permite el posterior procesamiento de los datos con el fin de obtener
        mediciones únicamente estadísticas que permitan
        conocer el número de impresiones de páginas, el número de visitas realizadas a los servicios web, el orden de
        visitas, el punto de acceso, etc.
      </p>
      <ul type="disc">
        <li>
          Seguridad
        </li>
      </ul>
      <p>
        El sitio web utiliza técnicas de seguridad de la información generalmente aceptadas en la industria, tales como
        firewalls, procedimientos de control de
        acceso y mecanismos criptográficos, todo ello con el objeto de evitar el acceso no autorizado a los datos. Para
        lograr estos fines, el usuario/cliente
        acepta que el prestador obtenga datos para efectos de la correspondiente autenticación de los controles de
        acceso.
      </p>

      <p>
        Todo proceso de contratación o que conlleve la introducción de datos personales de carácter alto (salud,
        ideología,…) serán siempre transmitidos mediante
        protocolo de comunicación segura (Https://,…), de tal forma que de tal forma que ningún tercero tenga acceso a
        la información transmitida vía electrónica
      </p>
    </div>
    </div>
  </div>
</div>
