<p>Hola <%= @resource.email %>!</p>

<p>Hemos recibido una solicitud para cambiar tu contraseña. Puedes hacerlo en el siguiente link durante las próximas horas.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no hiciste la petición o decides no cambiarla sólo tienes que ignorar este email.</p>
<p>Tu contraseña no cambiará hasta que no accedas al enlace y establezcas una nueva</p>
